{% extends "IiMediasStaffBundle:Admin:group.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_staff_admin_element", {groupId: staffGroup.id, staffId: staffElement.id}) }}">{{ staffElement.name }}</a></li>
{% endblock breadcrumb %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="pull-right">
                <div class="btn-group">
                    <a href="#" class="btn btn-default disabled"><b>Element :</b></a>
                    <a href="{{ path("iimedias_staff_admin_elementedit", {groupId: staffGroup.id, staffId: staffElement.id}) }}" class="btn btn-warning"><span class="hidden-xs">Editer </span><i class="fa fa-plus" aria-hidden="true"></i></a>
                    <a href="#" class="btn btn-danger"><span class="hidden-xs">Supprimer </span><i class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
                <div class="btn-group">
                    <a href="#" class="btn btn-default disabled"><b>Mise en ligne :</b></a>
                    <a href="{{ path("iimedias_staff_admin_elementpublish", {groupId: staffGroup.id, staffId: staffElement.id, mode: "now"}) }}" class="btn btn-success{% if staffElement.enable == true and staffElement.publishedAt | date("U") < "now" | date("U") %} disabled{% endif %}"><span class="hidden-xs">Tout de suite </span><i class="fa fa-check" aria-hidden="true"></i></a>
                    <a href="{{ path("iimedias_staff_admin_elementpublish", {groupId: staffGroup.id, staffId: staffElement.id, mode: "delay"}) }}" class="btn btn-warning{% if staffElement.enable == true %} disabled{% endif %}"><span class="hidden-xs">A une heure fixe </span><i class="fa fa-hourglass-half" aria-hidden="true"></i></a>
                    <a href="{{ path("iimedias_staff_admin_elementpublish", {groupId: staffGroup.id, staffId: staffElement.id, mode: "none"}) }}" class="btn btn-danger{% if staffElement.enable == false %} disabled{% endif %}"><span class="hidden-xs">Annulation </span><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}