{% extends (mode == "edit") ? "IiMediasStaffBundle:Admin:group.html.twig" : "IiMediasStaffBundle:Admin:index.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
{% if mode == "edit" %}
    <li><a href="{{ path("iimedias_staff_admin_edit", {groupId: staffGroup.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i><span class="hidden-xs"> Editer</span></a></li>
{% else %}
    <li><a href="{{ path("iimedias_staff_admin_create") }}"><i class="fa fa-plus" aria-hidden="true"></i><span class="hidden-xs"> Ajouter</span></a></li>
{% endif %}
{% endblock breadcrumb %}

{% block content %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form_label(form.code) }}
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                {{ form_widget(form.code) }}
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form_label(form.message) }}
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                {{ form_widget(form.message) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="btn-group pull-right">
                <a href="{% if mode == "edit" %}{{ path("iimedias_staff_admin_group", {groupId: staffGroup.id}) }}{% else %}{{ path("iimedias_staff_admin_index") }}{% endif %}" class="btn btn-default">Annuler</a>
                {{ form_widget(form.submit) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock content %}