{% extends (mode == "edit") ? "IiMediasStaffBundle:Admin:element.html.twig" : "IiMediasStaffBundle:Admin:group.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
{% if mode == "edit" %}
    <li><a href="{{ path("iimedias_staff_admin_elementedit", {groupId: staffGroup.id, staffId: staffElement.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i><span class="hidden-xs"> Editer</span></a></li>
{% else %}
    <li><a href="{{ path("iimedias_staff_admin_elementcreate", {groupId: staffGroup.id}) }}"><i class="fa fa-plus" aria-hidden="true"></i><span class="hidden-xs"> Ajouter</span></a></li>
{% endif %}
{% endblock breadcrumb %}

{% block content %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form_label(form.name, "admin.staffs.formelement.form.name" | trans, {label_attr: {class: "col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label"}}) }}
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                {{ form_widget(form.name, {attr: {class: "form-control", placeholder: "admin.staffs.formelement.form.name" | trans}}) }}
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form_label(form.country, "admin.staffs.formelement.form.country" | trans, {label_attr: {class: "col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label"}}) }}
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                {{ form_widget(form.country, {attr: {class: "form-control", placeholder: "admin.staffs.formelement.form.country" | trans}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form_label(form.cover, "admin.staffs.formelement.form.cover" | trans, {label_attr: {class: "col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label"}}) }}
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                {{ form_widget(form.cover, {attr: {class: "form-control", placeholder: "admin.staffs.formelement.form.cover" | trans}}) }}
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form_label(form.videoUrl, "admin.staffs.formelement.form.videourl" | trans, {label_attr: {class: "col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label"}}) }}
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                {{ form_widget(form.videoUrl, {attr: {class: "form-control", placeholder: "admin.staffs.formelement.form.videourl" | trans}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="btn-group pull-right">
                <a href="{% if mode == "edit" %}{{ path("iimedias_staff_admin_group", {groupId: staffGroup.id}) }}{% else %}{{ path("iimedias_staff_admin_index") }}{% endif %}" class="btn btn-default">Annuler</a>
                {{ form_widget(form.submit, {label: "admin.staffs.formelement.form.submit" | trans, attr: {class: "btn btn-primary"}}) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock content %}