{% extends "IiMediasStaffBundle:Admin:index.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_staff_admin_group", {groupId: staffGroup.id}) }}">{{ staffGroup.code }}</a></li>
{% endblock breadcrumb %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="pull-right">
                <div class="btn-group">
                    <a href="{{ path("iimedias_staff_admin_elementcreate", {groupId: staffGroup.id}) }}" class="btn btn-success"><span class="hidden-xs">Ajouter </span><i class="fa fa-plus" aria-hidden="true"></i></a>
                    <a href="#" class="btn btn-info"><span class="hidden-xs">Organiser </span><i class="fa fa-exchange" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Pays</th>
            <th>Position</th>
            <th>Publication</th>
            <th>¤</th>
        </tr>
        </thead>
        <tbody>
{% for staffElement in staffElements %}
            <tr>
                <td>{{ staffElement.id }}</td>
                <td>{{ staffElement.name }}</td>
                <td></td>
                <td>{{ staffElement.position }}</td>
                <td>
                    {% if staffElement.enable == true and "now" | date("U") >= staffElement.publishedAt | date("U") %}
                        <i class="fa fa-check" aria-hidden="true"></i><span class="hidden-xs"> Publié</span>
                    {% elseif staffElement.enable == true and "now" | date("U") < staffElement.publishedAt | date("U") %}
                        <i class="fa fa-hourglass-half" aria-hidden="true"></i><span class="hidden-xs"> Publication le {{ staffElement.publishedAt | date("d/m/Y") }} à {{ staffElement.publishedAt | date("H:i:s") }}</span>
                    {% else %}
                        <i class="fa fa-times" aria-hidden="true"></i><span class="hidden-xs"> Non publié</span>
                    {% endif %}
                </td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path("iimedias_staff_admin_element", {groupId: staffGroup.id, staffId: staffElement.id}) }}" class="btn btn-primary"><span class="hidden-xs">Voir </span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                        <a href="{{ path("iimedias_staff_admin_elementedit", {groupId: staffGroup.id, staffId: staffElement.id}) }}" class="btn btn-warning"><span class="hidden-xs">Editer </span><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a href="{{ path("iimedias_staff_admin_staffup", {groupId: staffGroup.id, staffId: staffElement.id}) }}" class="btn btn-info{% if loop.first %} disabled{% endif %}"><span class="hidden-xs">Monter </span><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                        <a href="{{ path("iimedias_staff_admin_staffdown", {groupId: staffGroup.id, staffId: staffElement.id}) }}" class="btn btn-info{% if loop.last %} disabled{% endif %}"><span class="hidden-xs">Descendre </span><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Publication
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
{% endfor %}
        </tbody>
    </table>
{% endblock content %}