{% extends "IiMediasAdminBundle::_layout.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_staff_admin_index") }}"><i class="fa fa-users" aria-hidden="true"></i><span class="hidden-xs"> Staff</span></a></li>
{% endblock breadcrumb %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="pull-right">
                <div class="btn-group">
                    <a href="{{ path("iimedias_staff_admin_create") }}" class="btn btn-success"><span class="hidden-xs">Ajouter </span><i class="fa fa-plus" aria-hidden="true"></i></a>
                    <a href="{{ path("iimedias_staff_admin_organize") }}" class="btn btn-info"><span class="hidden-xs">Organiser </span><i class="fa fa-exchange" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="hidden-xs">#</th>
                <th>Code</th>
                <th class="hidden-xs">Message</th>
                <th class="hidden-xs">Position</th>
                <th>¤</th>
            </tr>
        </thead>
        <tbody>
{% for staffGroup in staffGroups %}
            <tr>
                <td class="hidden-xs">{{ staffGroup.id }}</td>
                <td>
                    {{ staffGroup.code }}
                    <span class="visible-xs">({{ staffGroup.position }})</span>
                </td>
                <td class="hidden-xs">{{ staffGroup.message }}</td>
                <td class="hidden-xs">{{ staffGroup.position }}</td>
                <td>
                    <div class="btn-group pull-right">
                        <a href="{{ path("iimedias_staff_admin_group", {groupId: staffGroup.id}) }}" class="btn btn-primary"><span class="hidden-xs">Voir </span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                        <a href="{{ path("iimedias_staff_admin_edit", {groupId: staffGroup.id}) }}" class="btn btn-warning"><span class="hidden-xs">Editer </span><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a href="{{ path("iimedias_staff_admin_groupup", {groupId: staffGroup.id}) }}" class="btn btn-info{% if loop.first %} disabled{% endif %}"><span class="hidden-xs">Monter </span><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                        <a href="{{ path("iimedias_staff_admin_groupdown", {groupId: staffGroup.id}) }}" class="btn btn-info{% if loop.last %} disabled{% endif %}"><span class="hidden-xs">Descendre </span><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
                    </div>
                </td>
            </tr>
{% endfor %}
        </tbody>
    </table>
{% endblock content %}