{% extends "IiMediasStaffBundle:Admin:index.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_staff_admin_organize") }}">Organiser</a></li>
{% endblock breadcrumb %}

{% block content %}
    <form method="post" action="{{ path("iimedias_staff_admin_organize") }}">
        <div class="row">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="pull-right">
                        <input type="hidden" id="organizeJson" name="organizeJson" value="" />
                        <div class="btn-group">
                            <a href="{{ path("iimedias_staff_admin_organize") }}" class="btn btn-default">Annuler</a>
                            <button type="submit" id="submitOrganize" class="btn btn-primary">Sauvegarder</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <ul id="staffGroupOrganize">
{% for staffGroup in staffGroups %}
        <li data-type="group" data-group-id="{{ staffGroup.id }}" data-group-position="0">
            <div class="panel panel-default">
                <div class="panel-heading"><b class="pull-right staffGroupOrganizeCount"></b> {{ staffGroup.code }}</div>
                <div class="panel-body">
                    <ul class="staffElementsOrganize list-group">
{% for staffElement in staffGroup.elements %}
                        <li class="list-group-item" data-type="element" data-element-id="{{ staffElement.id }}" data-element-group-id="{{ staffElement.staffGroup.id }}" data-element-position="0"><b class="pull-right staffElementsOrganizeCount"></b> {{ staffElement.name }}</li>
{% endfor %}
                    </ul>
                </div>
            </div>
        </li>
{% endfor %}
    </ul>

    <style>
        #staffGroupOrganize {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
        }
        #staffGroupOrganize > li {
            display: inline-block;
            vertical-align:top;
            width: 300px;
            margin: 0px 10px 10px 0px;
            padding: 0;
        }
        #staffGroupOrganize > li.staffGroupOrganizePlaceholder {
            border: 1px dashed red;
        }
        .staffElementsOrganize {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            min-height: 20px;
        }
        .staffElementsOrganize > li.staffElementsOrganizePlaceholder {
            height: 30px;
            border: 1px dashed red;
        }
    </style>
{% endblock content %}

{% block scripts %}
    {{ parent() }}

    <script>
        $(function () {
            var dataToSend = null;
            function calcPos() {
                $("#staffGroupOrganize > li:not(.ui-sortable-helper)").each(function(indexGroup, valueGroup) {
                        $(this).find("b.staffGroupOrganizeCount").html(indexGroup + 1);
                        $(this).data("groupPosition", indexGroup + 1);
                        var currentStaffGroupId = $(this).attr("data-group-id");
                        $(this).find("li:not(.ui-sortable-helper)").each(function(indexElement, valueElement) {
                                $(this).find("b.staffElementsOrganizeCount").html(indexElement + 1);
                                $(this).data("elementGroupId", currentStaffGroupId);
                                $(this).attr("elementPosition", indexElement + 1);
                        });
                });

                dataToSend = [];
                $('li').each(function(indexLi, valueLi){
                    var dataToAdd = $(this).data();
                    if ((dataToAdd.type == "element" || dataToAdd.type == "group")) {
                        delete dataToAdd['sortableItem'];
                        delete dataToAdd['sortable-item'];
                        dataToSend.push(dataToAdd);
                    }
                    $("#organizeJson").val(JSON.stringify(dataToSend));
                });
            }
            calcPos();

            $("#staffGroupOrganize").sortable({
                    placeholder: "staffGroupOrganizePlaceholder",
                    sort: function(e) {
                            calcPos();
                            $("#staffGroupOrganize li.ui-sortable-helper b.staffGroupOrganizeCount").html("?");
                            $(".staffGroupOrganizePlaceholder").css("height", ($("#staffGroupOrganize li.ui-sortable-helper").height()) + "px");
                    },
                    stop: function(e) {
                            calcPos();
                            console.log($("#organizeJson").val());
                    }

            });
            $("#staffGroupOrganize").disableSelection();
            $(".staffElementsOrganize").sortable({
                    connectWith: ".staffElementsOrganize",
                    placeholder: "staffElementsOrganizePlaceholder",
                    sort: function(e) {
                            calcPos();
                            $(".staffElementsOrganize li.ui-sortable-helper b.staffElementsOrganizeCount").html("?");
                            $(".staffElementsOrganizePlaceholder").css("height", ($(".staffElementsOrganize li.ui-sortable-helper").height() + 20) + "px");
                    },
                    stop: function(e) {
                            calcPos();
                            console.log($("#organizeJson").val());
                    }
            });
            $("#staffElementsOrganize").disableSelection();
        });
    </script>
{% endblock scripts %}